:root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(50, 100%, 100%);
    --clr-menuhover: hsl(0, 0%, 50%);
    --clr-menu: hsl(0, 0%, 20%);
}

* {
    border: 1px solid red;
}

body {
    background-color: var(--clr-yellow);


}

header main footer {
    min-height: 800px;
    max-width: 1440px;
}

header {
    display: grid;
    margin-bottom: 25px;
    margin-top: 15px;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar div {
/*     background-color: var(--clr-menu); */
    margin: 0px;
    text-align: center;
    padding: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar div:hover{
/*     background-color: var(--clr-menuhover); */
}

main {
    display: flex;
    justify-content: space-between;
}

article {
    margin-right: 10px;
    flex-direction: column;
    max-width: 550px;
    padding: 5px 0px 0px 5px;

}

aside {
    max-width: 240px;
}